{% extends 'layout.html.twig' %}

{% block title %}{% trans %}User Management{% endtrans %} - {% trans %}Add User{% endtrans %}{% endblock %}

{% block main %}
	<main class="main-container mx-auto p-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ path('web_admin_home') }}">{% trans %}Administration{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="{{ path('web_admin_user_overview') }}">{% trans %}Users{% endtrans %}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{% trans %}Add User{% endtrans %}</li>
			</ol>
		</nav>

		<h1>{% trans %}Add User{% endtrans %}</h1>

		<div class="d-flex gap-3 mt-4">
			{{ form(form) }}
		</div>
	</main>
{% endblock %}
