.dot {
    height: 1em;
    width: 1em;
    background-color: currentColor;
    border-radius: 50%;
    display: inline-block;
}

.icon-plus-double {
    white-space: nowrap;
}

.icon-plus-double svg~svg {
    margin-inline-start: -0.4rem;
}