{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Pager Administration{% endtrans %} - {% trans %}Add Channel{% endtrans %}{% endblock %}

{% block main %}
	<main class="main-container mx-auto p-4">
		<h1>{% trans %}Add Channel{% endtrans %}</h1>

		<div class="d-flex gap-3 mt-4">

			{{ form(form) }}

		</div>
	</main>
{% endblock %}
