{% extends 'layout.html.twig' %}

{% block title %}Pagerverwaltung - Add Channel{% endblock %}

{% block main %}
	<main class="main-container mx-auto p-4">
		<h1>Add Channel</h1>

		<div class="d-flex gap-3 mt-4">

			{{ form(form) }}

		</div>
	</main>
{% endblock %}
