{% extends 'layout.html.twig' %}

{% block title %}Pager-Admin: System Info{% endblock %}

{% block main %}
	<main class="main-container mx-auto p-4">
		<h1>System Info</h1>

		{{ component('SystemInfo') }}

	</main>
{% endblock %}
