{% extends 'base.html.twig' %}

{% block title %}Pager System{% endblock %}
{% block body %}
<div style="margin: 10rem auto; max-width: 40rem; background-color: #eee; padding: 1rem">
    <h1>Send Message</h1>

    {{ form(form) }}
</div>
{% endblock %}
