{% extends 'base.html.twig' %}

{% block body %}
	<div class="layout-container">
		{{ include('_sidebar.html.twig') }}
		<main class="main-content overflow-x-hidden">
			{% block main %}{% endblock %}
		</main>
	</div>

	<div class="d-print-none position-fixed bottom-0 end-0 z-3">
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="m-3 alert alert-{{ type }} alert-dismissable fade show" role="alert">
				{{ message | trans }}
			</div>
		{% endfor %}
	{% endfor %}
	</div>
{% endblock %}
