{% extends 'base.html.twig' %}

{% block title %}{% trans %}Event Pager - Login{% endtrans %}{% endblock %}

{% block stylesheets %}
	<style>
		.divider:after,
		.divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
		}

		svg {
			fill: var(--bs-secondary-color);
		}
	</style>
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security' )}}</div>
	{% endif %}

	<section class="vh-100">
		<div class="container h-100">
			<div class="row d-flex align-items-center justify-content-center h-100 py-4">
				<div class="col-lg-7 col-xl-6">
					<h1>{% trans %}Event Pager System{% endtrans %}</h1>
					<svg id="pager-icon" viewbox="0 0 450.624 400.624" class="w-25" xmlns="http://www.w3.org/2000/svg">
						<title>{% trans %}Pager Icon{% endtrans %}</title>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M428.153,85.991H12.471C5.587,85.991,0,91.578,0,98.462v243.7c0,6.881,5.587,12.471,12.471,12.471h415.682
							        c6.881,0,12.471-5.59,12.471-12.471v-243.7C440.624,91.578,435.045,85.991,428.153,85.991z M121.768,315.681l-49.115-34.447
							        l49.115-34.445V315.681z M166.085,315.681v-68.899l49.115,34.44L166.085,315.681z M366.841,286.562
							        c-13.201,0-23.906-10.698-23.906-23.899s10.705-23.906,23.906-23.906s23.906,10.705,23.906,23.906S380.042,286.562,366.841,286.562
							        z M304.58,325.015c-13.201,0-23.906-10.698-23.906-23.899s10.705-23.906,23.906-23.906s23.906,10.705,23.906,23.906
							        S317.781,325.015,304.58,325.015z M398.018,191.474c0,6.884-5.584,12.471-12.471,12.471H48.841
							        c-6.884,0-12.471-5.587-12.471-12.471V133.28c0-6.884,5.587-12.471,12.471-12.471h336.706c6.887,0,12.471,5.587,12.471,12.471
							        V191.474z"></path>
					</svg>
				</div>
				<div class="col-lg-5 col-xl-5 offset-xl-1">
					<form action="{{ path('app_login') }}" method="POST">

						<a data-mdb-ripple-init class="btn btn-primary w-100 btn-lg btn-block" href="#" role="button">
							<i class="fab fa-twitter me-2"></i>{% trans %}Log in with SSO{% endtrans %}</a>

						<div class="divider d-flex align-items-center my-4">
							<p class="text-center fw-bold mx-3 mb-0 text-muted text-uppercase">{% trans %}or{% endtrans %}</p>
						</div>

						<!-- Username input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<label class="form-label" for="iptUser">{% trans %}Username{% endtrans %}</label>
							<input type="text" id="iptUser" name="_username" class="form-control form-control-lg" required/>
						</div>

						<!-- Password input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<label class="form-label" for="iptPwd">{% trans %}Password{% endtrans %}</label>
							<input type="password" id="iptPwd" name="_password" class="form-control form-control-lg" required/>
						</div>

						<div
							class="d-flex justify-content-around align-items-center mb-4">
							<!-- Checkbox -->
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="iptRememberMe" checked/>
								<label class="form-check-label" for="iptRememberMe">
									{% trans %}Remember me{% endtrans %}
								</label>
							</div>
						</div>

						<!-- Submit button -->
						<button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-lg btn-block w-100">{% trans %}Log in with local account{% endtrans %}</button>

					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
