{% extends 'base.html.twig' %}

{% block title %}Pager System Login{% endblock %}
{% block body %}
<div style="margin: 10rem auto; max-width: 40rem; background-color: #eee; padding: 1rem">
    <h1>Login</h1>

    <a href="{{ path('app_view_web_admin_adminhome__invoke') }}">Homepage</a>
</div>
{% endblock %}
