when@dev: &dev
    # See full configuration: https://symfony.com/bundles/ZenstruckFoundryBundle/current/index.html#full-default-bundle-configuration
    zenstruck_foundry:
        enable_auto_refresh_with_lazy_objects: true
        persistence:
            # Flush only once per call of `PersistentObjectFactory::create()`
            flush_once: true

    # Factory services for test data generation
    # See https://symfony.com/bundles/ZenstruckFoundryBundle/current/index.html#generate
    services:
        App\Tests\Factory\:
            resource: '%kernel.project_dir%/tests/Factory/'
            autowire: true
            autoconfigure: true

when@test: *dev
