parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    doctrine:
#        objectManagerLoader: tests/object-manager.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
#    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpat/phpat/extension.neon

services:
    - class: App\Tests\Architecture\DependenciesBetweenCoreModules
      tags:
          - phpat.test

    - class: App\Tests\Architecture\HighLevelArchitecture
      tags:
          - phpat.test
    
    - class: App\Tests\Architecture\NamingConventions
      tags:
          - phpat.test

    - class: App\Tests\Architecture\TestConventions
      tags:
          - phpat.test